apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-api
  template:
    metadata:
      labels:
        app: notes-api
    spec:
      containers:
      - name: notes-api
        image: notes-api:1.0
        imagePullPolicy: Never
        env:
        - name: ConnectionStrings__DefaultConnection
          value: Host=postgres;Port=5432;Database=f1test_notes;Username=postgres;Password=Ricky03
        - name: ASPNETCORE_URLS
          value: http://+:8080
        ports:
        - containerPort: 8080
        

---
apiVersion: v1
kind: Service
metadata:
  name: notes-api
spec:
  type: NodePort
  selector:
    app: notes-api
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30006
